<form action="/creat" method="post">
	<p>Title</p>
	<input tyupe = "text" name="title">
	<br/>
	<p>contents</p>
	<input type = "text" name = "description">
	<button type = "submit">Submit</button>
</form>